body {
  margin: 0;
  padding: 0;
}
* {
  scroll-behavior: smooth;
}
#root {
  min-height: 100vh;
}

/*
for css vars only.
these values are automatically known in all stylesheets.
the :root statement itself is only included in the common stylesheet.
this file is not processed by postcss when imported into the postcss-custom-properties plugin,
so only write standard css!

NOTE: for old browsers, will need to restart watcher after changing a variable
*/

:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(30, 120, 181, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #107fee;
  --fc-button-border-color: #0268cd;
  --fc-button-hover-bg-color: #0d487f;
  --fc-button-hover-border-color: #1171ca;
  --fc-button-active-bg-color: #1680e3;
  --fc-button-active-border-color: #1b81e0;

  --fc-event-bg-color: #0e6ecd;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(3, 70, 187, 0.621);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
}

.customDropdown .customDropdown-item {
  padding: 12px;
}

.customDropdown .customDropdown-item:hover {
  background-color: rgb(237, 237, 237);
}

.customDropdown-popover .ant-popover-inner {
  overflow: hidden;
  padding: 0;
}

.message-list-custom {
  overflow-y: auto;
}

.antd-upload-custom {
  display: flex;
  gap: 10px;
}
